<carousel class="main-carousel">
  <slide class="item-1 animated fadeIn">
    <div class="slider-content">
      <div class="slider-text text-center">
        <h3 class="slide-title"><span>Bitcoin</span> Exchange <br>You can <span>Trust</span> </h3>
        <p>
          <a href="pricing.html" class="slider btn btn-primary">our prices</a>
        </p>
      </div>
    </div>
  </slide>
  <slide class="item-2 animated fadeIn">
    <div class="slider-content">
      <div class="slider-text text-center">
        <h3 class="slide-title"><span>Secure</span> and <span>Easy Way</span><br> To Bitcoin</h3>
        <p>
          <a href="about.html" class="slider btn btn-primary">Learn more</a>
        </p>
      </div>
    </div>
  </slide>
</carousel>
