<div class="form-container">
  <div>
    <!-- Section Title Starts -->
    <div class="row text-center">
      <h2 class="title-head hidden-xs">guest <span>register</span></h2>
      <p class="info-form">Send, receive and securely store your coins in your wallet</p>
    </div>
    <!-- Section Title Ends -->
    <!-- Form Starts -->
    <form (submit)="login()">
      <alert type="danger" *ngIf="loginError">{{ loginError }}</alert>
      <!-- Input Field Starts -->
      <div class="form-group">
        <input class="form-control" name="email" [(ngModel)]="email" placeholder="EMAIL" type="email" required>
      </div>
      <!-- Input Field Ends -->
      <!-- Input Field Starts -->
      <div class="form-group">
        <input class="form-control" name="password" [(ngModel)]="password" id="password" placeholder="PASSWORD" type="password" required>
      </div>
      <!-- Input Field Ends -->
      <!-- Submit Form Button Starts -->
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Register</button>
        <p class="text-center">Already have an account ? <a routerLink="/auth/login">Login now</a>
      </div>
      <!-- Submit Form Button Ends -->
    </form>
    <!-- Form Ends -->
  </div>
</div>
