<carousel id="carousel-testimonials">
  <slide class="testimonials-item-1">
    <div class="carousel-caption d-none d-md-block">
      <blockquote>
        <p>
          This is a realistic program for anyone looking for site to invest. Paid to me regularly, keep up good work!
        </p>
      </blockquote>
    </div>
  </slide>
  <slide class="testimonials-item-1">
    <div class="carousel-caption d-none d-md-block">
      <blockquote>
        <p>
          This is a realistic program for anyone looking for site to invest. Paid to me regularly, keep up good work!
        </p>
      </blockquote>
    </div>
  </slide>
  <slide class="testimonials-item-1">
    <div class="carousel-caption d-none d-md-block">
      <blockquote>
        <p>
          This is a realistic program for anyone looking for site to invest. Paid to me regularly, keep up good work!
        </p>
      </blockquote>
    </div>
  </slide>
</carousel>
