<!-- Wrapper Starts -->
<div class="wrapper">
  <div class="container-fluid user-auth">
    <div class="hidden-xs col-sm-4 col-md-4 col-lg-4">
      <!-- Logo Starts -->
      <a class="logo" href="index.html">
        <img class="img-responsive" src="/assets/logo.png" alt="logo">
      </a>
      <!-- Logo Ends -->
      <!-- Slider Starts -->
      <app-testimonials-carousel></app-testimonials-carousel>
      <!-- Slider Ends -->
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <!-- Logo Starts -->
      <a class="visible-xs" href="index.html">
        <img class="img-responsive mobile-logo" src="assets/logo.png" alt="logo">
      </a>
      <!-- Logo Ends -->
      <router-outlet></router-outlet>
      <!-- Copyright Text Starts -->
      <p class="text-center copyright-text">Copyright © 2018 Bayya All Rights Reserved</p>
      <!-- Copyright Text Ends -->
    </div>
  </div>
</div>
